<div class="banner">
	<div class="container">
	<div class="banner-text">
	<div class="banner-heading">
		Shop Today with us.
	</div>
	<div class="banner-sub-heading">
		Pay with easy steps with paypal's payment options
	</div>
	<button type="button" class="btn btn-warning text-dark btn-banner" routerLink="/cart">Go to Cart</button>
	</div>
	</div>
</div>
<section id="about">
<div class="container">
	<div class="text-intro">
	<h2>Go to the cart</h2>
		<p>Go to the cart and Pay with easy steps with paypal's payment options.</p>
	</div>
</div>
</section>